@import './fonts.css';
@import './header.css';
@import './nav.css';
@import './about-me.css';
@import './skills.css';
@import './code-example.css';
@import './work.css';
@import './education.css';
@import './footer.css';

html {
    height: 100%;
    font-size: 10px;
}

body {
    font-family: 'Sourcesanspro';
    height: 100%;
    font-size: 1.6rem;
    background-color: rgb(227, 228, 218);
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 2960px;
    min-width: 320px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrap {
    padding: 1rem 1rem;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin: 5rem 0;
}
