.main__code .main__code-example {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #000000;
}

.main__code .main__code-example code {
    display: flex;
    justify-content: center;
}
