.main__education .main__education-info,
.main__languages .main__list-languages {
    display: flex;
    flex-direction: column;
}

.main__education .main__education-info span, 
.main__education .main__education-info a {
    padding: 0.5rem 0;
    box-sizing: border-box;
}

.main__education .main__education-info a {
    text-decoration: none;
    color: #000000;
}

.main__education .main__education-info a:hover {
    color: #1684ce;
}

.main__my-projects .main__list-projects {
    display: flex;
}

.main__my-projects .main__list-projects a {
    margin: 0 1rem;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: #000000;
}

.main__my-projects .main__list-projects a:hover {
    box-shadow:0 0 10px #726d6d;
    background-color: #ffffff;
}
